@use 'src/styles/vars';

.project {

    &.light {
        background: vars.$light;
        color: vars.$black;
    }
    &.dark {
        background: vars.$black;
        color: vars.$light-grey;
    }

    &.project--ballman {
        background: vars.$ballman-dark;
    }
    
    display: flex;
    flex-direction: column;

    &__section {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 100px 0 ;
    }
    &__banner {
        width: 100%;
        min-height: 100%;
        min-height: 100vh;
        top: 0;
        left: 0;
        padding: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 900px) {            
            flex-direction: column;
        }
        
        &--ballman {
            background: #141326;
            // background: #141326 url('./assets/img/slider/slide-4.jpg');
            background-position-y: bottom;
            background-size: 100%;
            background-repeat: no-repeat;
        }

        &__image {
            // width: 27vw;
            z-index: 1;
            margin-right: 0px;
            transition: all linear 0.3s;
            align-self: center;

            @media screen and (max-width: 900px) {
                width: auto;
               
            }

            img {
                max-height: 70vh;
                @media screen and (max-width: 900px) {
                    width: auto;
                    max-height: 50vh;
                }
            }
        }

        &__title {
            font-family: "Oswald", sans-serif;
            font-size: calc(6rem + 1vw);
            line-height: calc(6rem + 1vw);
            text-transform: uppercase;
            margin-bottom: 1rem;

            &[data-color='light']{
                color: vars.$black;
            }

            &[data-color='dark']{
                color: vars.$light;
            }

            @media screen and (max-width: 900px) {
                font-size: calc(3rem + 1vw);
                line-height: calc(3rem + 1vw);
            }
        }

        &__link {
            color: vars.$light-grey;
            display: flex;
            align-items: flex-end;
            gap: 1rem;
            text-decoration: none;
            font-style: italic;
            margin-bottom: 3rem;
            cursor: pointer;
            transition: all linear 0.3s;

            &:hover {
                color: #ffffff;
            }
        }

        &__desc {
            line-height: 2.2rem;

            .bold {
                color: #ffffff;
            }
        }
    }

    &__title {
        font-family: "Oswald", sans-serif;
        font-size: calc(3rem + 1vw);
        line-height: calc(3rem + 1vw);
        text-transform: uppercase;
        color: vars.$title-color;
        margin-bottom: 30px;

        &[data-color='light']{
            color: vars.$black;
        }

        &[data-color='dark']{
            color: vars.$light;
        }

        &[data-color='pink']{
            color: vars.$ballman-pink;
        }

        &[data-color='yellow']{
            color: vars.$ballman-yellow;
        }
    }

    &__transition {
        height: 300px;
        height: 27vw;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;

        &__image {
            z-index: 10;
            max-height: 350px;
            max-height: 35vw;
        }
    }
}